@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center; 
  align-items: center;
  margin: 0;
  background: url("../../images/background.png") no-repeat center center fixed;
  background-size: contain;
  font-family: 'Noto Sans TC', sans-serif;
}

#outer-health {
  display: inline-block;
  width: calc(3% + 40px);
  height: 5px;
  position: absolute;
  margin: calc(-107px + -4vw) auto;
  margin-left:auto;
  margin-right:auto;
  background-color: #FFFFFF ;
  border: 1px solid #000;
}

#inner-health {
  height: 5px;
  background-color: #00FF00;
}

#minus1 {
  font-size: 32px;
  font-weight: bold;
  color: red;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  position: absolute;
  display: none;
}

#main {
  /* 基本寬高 */
  width: 50vw;
  height: calc(1.75*50vw);
  min-width: 300px;
  min-height: calc(1.75 * 300px);
  max-width: calc(85vh / 1.75);
  max-height: 85vh;
  /* 漸層背景 */
  background: rgb(98,192,247); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(98,192,247,0.9) 0%, rgba(23,130,237,0.9) 51%, rgba(255,220,25,0.9) 52%, rgba(255,220,25,0.9) 52%, rgba(255,236,153,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(98,192,247,0.9) 0%,rgba(23,130,237,0.9) 51%,rgba(255,220,25,0.9) 52%,rgba(255,220,25,0.9) 52%,rgba(255,236,153,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(98,192,247,0.9) 0%,rgba(23,130,237,0.9) 51%,rgba(255,220,25,0.9) 52%,rgba(255,220,25,0.9) 52%,rgba(255,236,153,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62c0f7', endColorstr='#ffec99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /* 對齊 */
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  /* 外觀 */
  border: 2px solid white;
  box-shadow: 0 0 0 10px rgba(0,0,0,0.9);
  color: white;
  margin: 1vw 1vh 1vw 1vh;
  border-radius: 10px;
  overflow: hidden; /* 怕有人的長寬比報幹差超多 */
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: black;
}
h1 {
  color: white;
  font-size: calc(180% + 1vw);
  letter-spacing: calc(2px + 0.5vw);
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 3vh;
  margin-bottom: 3vh;
  white-space: nowrap; /* 防止集拿棒形狀的螢幕 */
}

/* image of Jerry */
img#head {
  position: block;
  width: 50%;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%;
  box-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
  -webkit-box-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* menu */

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  padding-left: 0px;
}

ul li{
  list-style: none;
  font-size: calc(200% + 1vw);
  
}

li a {
  color: #2f2f2f;
}

ul li a i {
  font-family: 'fontawesome' !important;
}

/* Search */
div.search-container > h3 {
  margin: 0;
}

div.search-container > h4 {
  margin: 0;
  font-size: 12px;
}

div.search-container > input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
}

input[type=text]::-webkit-input-placeholder {
  font-family: 'Noto Sans TC', sans-serif;
}

input[type=text]::-ms-input-placeholder {
  font-family: 'Noto Sans TC', sans-serif;
}

input[type=text]:-ms-input-placeholder {
  font-family: 'Noto Sans TC', sans-serif;
}

input[type=text]:-moz-input-placeholder {
  font-family: 'Noto Sans TC', sans-serif;
}

input[type=text]::-moz-input-placeholder {
  font-family: 'Noto Sans TC', sans-serif;
}

div.search-container > button {
    background-color: rgba(23,130,237,0.9);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: calc(0.5vw + 100%);
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    border-radius: 2px;
}

div.search-container > button:hover {
    opacity: 0.8;
}

form.search-content {
    border-radius: 1vw;
    background-color: #fefefe;
    /*margin: 10% auto 10% auto; */
    margin: 15% auto;
    border: 1px solid #888;
    width: calc(50vw*0.8);
    min-width: calc(320px * 0.8);
    max-width: calc(85vh / 1.75 *0.8);
    text-align: center;
    padding: 1vw;
}

/* background */
div.search {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* The Close Button (x) */
span.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

span.close:hover, .close:focus {
    color: rgba(255,220,25,0.9);
    cursor: pointer;
}


/* search animate */
form.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Loader */
div.loader {
  display: none;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: calc(10vw + 50px);
  height: calc(10vw + 50px);
  min-width: 70px;
  min-height: 70px;
  max-width: 100px;
  max-height: 100px;
  position:fixed;
  -webkit-animation: spin 0.7s linear infinite; /* Safari */
  animation: spin 0.7s linear infinite;
  z-index: 2;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}