@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center; 
  align-items: center;
  margin: 0;
  background: url("../../images/background.png") no-repeat center center fixed;
  background-size: contain;
  font-family: 'Noto Sans TC', sans-serif;
}

#main {
  width: 50%;
  height: calc(1.75*50vw);
  min-width: 320px;
  min-height: calc(1.75*320px);
  max-width: calc(90vh/1.75);
  max-height: 90vh;
  background: rgb(98,192,247); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(98,192,247,0.9) 0%, rgba(23,130,237,0.9) 51%, rgba(255,220,25,0.9) 52%, rgba(255,220,25,0.9) 52%, rgba(255,236,153,0.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(98,192,247,0.9) 0%,rgba(23,130,237,0.9) 51%,rgba(255,220,25,0.9) 52%,rgba(255,220,25,0.9) 52%,rgba(255,236,153,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(98,192,247,0.9) 0%,rgba(23,130,237,0.9) 51%,rgba(255,220,25,0.9) 52%,rgba(255,220,25,0.9) 52%,rgba(255,236,153,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62c0f7', endColorstr='#ffec99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  box-shadow: 0 0 0 10px rgba(0,0,0,0.9);
  color: white;
  margin: 0 2vw 0 2vw;
  border-radius: 2vw;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: black;
}
h1 {
  color: white;
  font-size: calc(200% + 1vw);
  letter-spacing: calc(2px + 0.5vw);
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

img#head {
  width: 50%;
  height: auto;
  border: 5px solid white;
  border-radius: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  padding-left: 0px;
}
ul li{
  list-style: none;
  font-size: calc(200% + 1vw);
  
}
li a {
  color: #2f2f2f;
}

li a:active {
  color: white;
}
/*
li a:mouseenter , li a:touchstart {
}*/

ul li a i {
  font-family: 'fontawesome' !important;
}