.chat-icon,
.label {
    font-family: 'Noto Sans TC', sans-serif;
}

#container {
    position: fixed;
    z-index: 10000;
    right: 0;
    bottom: 0;
}

#container.left {
    right: auto;
    left: 0;
}

#container.left {
    right: auto;
    left: 0;
}

#container.left .chat-icon {
    right: auto;
    left: 14px;
}

.chat-icon {
    float: left;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 14px;
    bottom: 20px;
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 15px 30px -10px rgba(0, 0, 0, 0.3);
}

.chat-icon {
    -webkit-transition: width 0.25s, height 0.25s;
    transition: width 0.25s, height 0.25s;
    display: none;
    opacity: 0;
    filter: alpha(opacity=0);
}

.chat-icon img {
    height: 50px;
    width: 50px;
    display: inline-block;
}


.chat-icon:hover {
    width: 170px;
    z-index: 12;
}

.label {
    opacity: 0;
    filter: alpha(opacity=0);
    color: white;
    margin-top: 10px;
    /*margin-left: -4px;*/
    left: 50px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.chat-icon:hover > .label {
    opacity: 1;
    filter: alpha(opacity=100);
}